<h2>Echantillons</h2>
<!--<div>-->
<!--  <label>Hero name:</label> <input #heroName />-->
<!--  <button (click)="add(heroName.value); heroName.value=''">Add</button>-->
<!--</div>-->
<ul class="stones grid grid-pad">
  <a *ngFor="let stone of stones" [routerLink]="['/detail', stone.id]" class="col-">
    <div class="module stone">
      <span class="badge">{{ stone.id }}</span>
      <span>{{ stone.name }}</span>
      <div class="queue">{{ stone.updateAt }}</div>
<!--    <button class="delete" (click)="delete(hero); $event.stopPropagation()">X</button>-->
    </div> 
  </a>
</ul>
